h2 {
  margin:0
}
div#header {
  background-color:#E3E4FA;
  margin-top:1em; 
  margin-bottom:1em;
}
div#description {
  margin:0 auto;
}
pre {
  margin:0;
  word-wrap:break-word;
  width:100%;
}
div.description {
  font-family:monospace;
}
div#headerbar {
  width:60%;
  margin:0 auto;
}
div#header ul {
  display:inline;
  list-style-type:none;
  margin:0; padding:0;
}
div#header ul li {
  display:inline;
}
div.sharelink_curlpaste {
  margin:0 auto;
  width:60%;
  margin-bottom:0.5em;
}
a#home {
  margin-right:5px;
  display:inline-block;
  -webkit-animation: spinner 1500ms ease;
}
div.usage {
  margin-top:10px;
}
div.usage:hover {
  background-color:#b9ffd0;
}
div.usage.basic {

}
div.usage.secure{
}
div.usage.secure h2 {
  background-image:url(lock.png);
  background-repeat:no-repeat;
  padding-left:32px;
  height:32px;
  line-height:32px;
}
div.usage:hover span.blip {
  -webkit-animation: blip 500ms ease;
}
div.sharelink a {
  background-image:url(link.png);
  color:#4183c4;
  text-decoration:none;
  padding-left:25px;
  background-repeat:no-repeat;
  line-height:25px;
  height:25px;
  display:inline-block;
}

form#pastetext textarea {
  width:95%;
}
div#main {
  margin:0 auto;
  min-width:530px;
  width:60%;
  padding:1em;
  background-color:#99C9C4;
  background-color:#F9F9EF;
  box-shadow:#666 3px 3px 15px; 
}
div#wrapper {
  position:relative;
}
div.usage {
  padding:1em;
  border-radius:5px;
}
div#results {
  padding:1em;
}
div#github a:visited {
  color:#4183c4;
}
div#github a:hover {
  text-decoration:underline;
}
div#github a {
  background-image:url(git.jpg);
  color:#4183c4;
  text-decoration:none;
  padding-left:40px;
  background-repeat:no-repeat;
  line-height:33px;
  height:33px;
  display:inline-block;
}
span .em  {
  font-weight:bold;
}
body {
  padding:0;margin:0;
  background-color:#e4f5fc;
  font-family: 'Ubuntu Mono', sans-serif;
}
@-webkit-keyframes spinner { 
  0% {
    -webkit-transform:translateX(-100px);
  }
  100% {
    -webkit-transform:translateX(0px);
  }
}
@-webkit-keyframes blip { 
  0% {
  }
  50% {
    -webkit-transform:scale(1.2)
  }
  100% {
    -webkit-transform:scale(1)
  }
}
