div#main {
  margin:0 auto;
  padding:1em;
  background-color:white;
}
div#wrapper {
  background-color:#F5CEA4;
  position:relative;
}
div.usage {
  padding:1em;
}
div#results {
  padding:1em;
}
div#github a:visited {
  color:#4183c4;
}
div#github a:hover {
  text-decoration:underline;
}
div#github a {
  color:#4183c4;
  text-decoration:none;
}
span .em  {
  font-weight:bold;
}
body {
  background-color:#e4f5fc;
  font-family: 'Ubuntu Mono', sans-serif;
}
