div#header {
  height:20px;
  background-color:#E3E4FA;
  margin-top:1em; 
  margin-bottom:1em;
}
div#headerbar {
  width:60%;
  margin:0 auto;
}
div#main {
  margin:0 auto;
  width:60%;
  padding:1em;
  background-color:white;
  box-shadow:#666 3px 3px 15px; 
}
div#wrapper {
  position:relative;
}
div.usage {
  padding:1em;
}
div#results {
  padding:1em;
}
div#github a:visited {
  color:#4183c4;
}
div#github a:hover {
  text-decoration:underline;
}
div#github a {
  background-image:url(git.jpg);
  color:#4183c4;
  text-decoration:none;
  padding-left:40px;
  background-repeat:no-repeat;
  line-height:33px;
  height:33px;
  display:inline-block;
}
span .em  {
  font-weight:bold;
}
body {
  padding:0;margin:0;
  background-color:#e4f5fc;
  font-family: 'Ubuntu Mono', sans-serif;
}
