div#main {
  margin:0 auto;
  width:80%;
  padding:1em;
  background-color:white;
}
div#wrapper {
  background-color:#F5CEA4;
  background: linear-gradient(to bottom, #f5cea4 0%, #7f6e55 100%);
  position:relative;
}
div.usage {
  padding:1em;
}
div#results {
  padding:1em;
}
div#github a:visited {
  color:#4183c4;
}
div#github a:hover {
  text-decoration:underline;
}
div#github a {
  color:#4183c4;
  text-decoration:none;
}
span .em  {
  font-weight:bold;
}
body {
  background-color:#e4f5fc;
/*
  background: linear-gradient(to bottom, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 100%);
*/
  font-family: 'Ubuntu Mono', sans-serif;
}
